Options +FollowSymLinks
RewriteEngine On

# If file or directory does not exist, route to public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php?controller=$1 [QSA,L]
